* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1c1c1c;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  height: 80vh;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #3a69d2;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: white;

}

h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

.bottom {
  background-color: #1f2937;
  padding: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn-service {
  background-color: #d1d4f4;
  color: #4a4e74;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #d1d4f4;
  border-radius: 7px;
  padding: 9px 13px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-service:hover {
  border: 2px solid white;
}

.task-total,
.notes-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #D5D4D8;
}

.task-total {
  padding-bottom: 30px;
}

.task,
.total {
  font-size: 12px;
  font-weight: 700;
}

hr {
  width: 100%;
}

.notes,
.total-amount {
  font-size: 12px;
  font-weight: 600;
}

.notes-total {
  margin-top: 20px;
}

.notes-sumTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #F5F5F5;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.btn-invoice {
  background-color: #3a69d2;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-mail {
  margin-right: 10px;
}